* {
  box-sizing: border-box;
}


ul {
  margin: 0;
  padding: 0;
}


ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


ul li:nth-child(odd) {
  background: #f9f9f9;
}


ul li:hover {
  background: #FF5733;
}


 .checked {
  background: #111;
  color: #fff;
  text-decoration: line-through;
}


.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px
}

.close:hover {
  background-color: #2344;
  color: white;
}
.b {
  border-radius: 8px;
  padding: 10px;
  width: 15%;
  background: #d9d9d9;
  color: #000 ;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 1.0s;
}

.b:hover {
  background-color: #bbb;
}


/* Style the header */
.header {
  background-color: #e3b42a ;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}


input {
 
  width: 50%;
  padding: 10px;
  float: left;
  font-size: 16px;
}


.out{
  border-radius: 8px;
  padding: 10px;
  width: 10%;
  background: #d9d9d9;
  color: #000 ;
  float: right;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 1.0s;
}
.add {
  border-radius: 8px;
  padding: 10px;
  width: 15%;
  background: #d9d9d9;
  color: #000 ;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 1.0s;
}

.add:hover {
  background-color: #bbb;
}
.vi {
  border-radius: 8px;
  padding: 10px;
  width: 15%;
  background: #d9d9d9;
  color: #000 ;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 1.0s;
}

.vi:hover {
  background-color: #bbb;
}
